[Unit]
Description=uWSGI service for otonosu
After=network.target

[Service]
User=root
Group=root

# pyenv の仮想環境を systemd に認識させる
Environment="PATH=/usr/local/pyenv/versions/3.13.7/envs/otonosu-venv/bin:/usr/local/pyenv/bin:/usr/bin:/bin"

# uWSGI の起動コマンド
ExecStart=/usr/local/bin/uwsgi --ini /usr/local/dialog_pf/otonosu/orchestra_rls/orchestra_rls/environment/uwsgi/uwsgi.ini

Restart=always

[Install]
WantedBy=multi-user.target
