{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mt-5">
<h2 class="mb-4">パスワードリセット完了</h2>
<p>パスワード再設定メールを送信しました。メールのURLにアクセスしパスワード再設定を完了してください。</p>
<p>メールが届かない場合は、迷惑メールフォルダをご確認ください。</p>
<p>パスワード再設定メールの有効期限は24時間です</p>
<a href="{% url 'user:login' %}" class="btn btn-primary">ログインページへ</a>
{% endblock %}