{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mt-5">
<h2 class="mb-4">パスワード再設定完了</h2>
<p>パスワードが正常に再設定されました。</p>
<a href="{% url 'user:login' %}" class="btn btn-primary">ログインページへ</a>
</div>
{% endblock %}